.gallery-wrapper {
  padding: 20px;
}

.album-cart {
  width: 25%;
  float: left;
  padding: 10px;
  text-align: center;

  img {
    height: 270px;
    border-radius: 4px;
  }

  @media only screen and (max-width: 1460px) {
    width: calc(100% / 3);
  }

  @media only screen and (max-width: 940px) {
    width: 50%;
  }

  @media only screen and (max-width: 580px) {
    width: 100%;
  }
}

.album-link {
  display: block;
  padding: 10px 0;
  overflow: hidden;
  box-shadow: 0 0 5px 4px grey;

  &:hover {
    box-shadow: 0 0 5px 4px #1d6298;
  }
}

.album-title {
  font-size: 16px;
}