header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background-color: white;
  border-bottom: 20px solid #004e8a;
  -webkit-box-shadow: 0 3px 4px -3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 4px -3px rgba(0, 0, 0, 0.3);
}

.header {
  width: 1500px;
  margin: 0 auto;
  padding: 10px 165px 0;
  color: #003258;
  background-color: white;

  nav {
    line-height: 27px;
    font-size: 1.6rem;
    text-transform: uppercase;

    ul {
      list-style: none;
    }

    li {
      display: inline-block;
      float: left;
      width: 20%;
      padding: 0 20px;
      text-align: center;
      cursor: pointer;

      a {
        text-decoration: none;
      }
    }
  }

  h1 {
    display: flex;
    align-items: center;
  }

  a {
    display: inline-block;
  }

  img {
    height: 50px;
  }
}

@media only screen and (max-width: 1500px) {
  .header {
    width: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .header {
    padding: 10px 50px 0;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    padding: 10px 10px 0;
  }
}

@media only screen and (max-width: 580px) {
  .header {
    text-align: center;

    h1 {
      float: none;
    }

    nav {
      display: inline-block;
      float: none;
    }
  }
}

@media only screen and (max-width: 450px) {
  .header nav li {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 350px) {
  .header nav li {
    padding: 0 6px;
  }
}