// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

@import "normalize";

.container{
  width: 100%;
  padding: 0;
}

.side-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  border: 1px solid gainsboro;
}

li {
  border-bottom: 1px solid gainsboro;
}

.cms-container {
  margin-left: 200px;
}

.edit-product {
  font-size: 18px;

  a:first-child {
    margin-right: 20px;
  }
}